.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Space between list items */
  }
  
  .nav-item {
    padding: 1px 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: #f0f0f0; /* Optional hover effect */
  }
  
  .nav-item.active {
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #ff1e56, #6a1b9a); /* Colorful background */
    color: #fff; /* White text for better contrast */
  }

  /* You can add global styles to this file, and also import other style files */
.container2{
  text-align: center;
  width:100%;
  height: 45px;
  top: 150px;
  position: fixed;
  z-index: 998;
  background-color: beige;
}
  