<div class="container" >
    <div class="row">
        <div class="col-lg curved-container m-1">
            <div class="text-center">
                <h2 style="color: #f4646c; font-family: 'Arial', sans-serif; border-bottom: 2px solid #f4646c; padding-bottom: 5px; margin-bottom: 20px;">
                  About Me
                </h2>
                <img src="mine.png" alt="profile picture" class="rounded-image" >
                <p style="font-family: 'Arial', sans-serif; font-size: 16px; line-height: 1.8; color: #f8f5f5; max-width: 600px; margin: 0 auto;" >
                  I am an <b>Associate Software Engineer at Accenture</b> with a robust foundation in computer science fundamentals. I specialize in software development, leveraging expertise in <b>Java, C#, Python, C, and SQL</b>. My skill set extends to modern technologies and frameworks, including <b>Kotlin, Android application development, ASP.NET Core, Angular</b>, and <b>data structures and algorithms</b>. I am dedicated to delivering innovative solutions and continuously expanding my technical proficiency to excel in building impactful software applications.
                </p>
                
              </div>
              
        </div>
        
        <div class="col-lg curved-container m-1">
          <div class="text-center">
            <h2 style="color: #f4646c; font-family: 'Arial', sans-serif; border-bottom: 2px solid #f4646c; padding-bottom: 5px;">Featured</h2>
            <a href="https://leetcode.com/u/KrishnaChalla08/" target="_blank">
              <img src="leetcode.jpg" alt="LeetCode logo" class="rounded-image" style="width: 280px; height: 240px;">
            </a>
            <ul style="font-family: 'Arial', sans-serif; font-size: 16px; line-height: 1.8; color: #f8f5f5; max-width: 600px; margin: 0 auto; list-style-type: disc; padding-left: 20px; text-align: left;">
              <li>I actively solve coding challenges on <b>LeetCode</b> to sharpen my problem-solving skills and stay updated with the latest algorithms and data structures.</li>
              <li>I have solved over <b>300 problems</b> on LeetCode, which has significantly enhanced my ability to think critically and develop efficient solutions in my software development projects.</li>
              <li>You can checkout my profile here >>> <a href="https://leetcode.com/u/KrishnaChalla08/" target="_blank" style="color: #f4646c;">Leetcode</a>.</li>
            </ul>
          </div>
        </div>

    </div>

</div>
